/*
** phpSyntaxTree - Default stylesheet
** $Id: default.css,v 1.9 2006/07/21 22:27:32 int2str Exp $
*/

body {
    color: black;
    background-color: #fff;
    font-family: "Bitsream Vera Sans",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

#content {
    width: 90%;
    padding: 10px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    text-align: center;
    font-size: smaller;
    padding-top: 10px;
    color: #777;
    background-color: #fff;
    clear: both;
}

#footer a {
    color: #777;
    background-color: #fff;
    font-weight: bold;
    border: 0;
}

#footer a:hover {
    color: red;
    background-color: #fff;
}

#footer img, #svg img {
    border: 0;
}

#svg {
    text-align: center;
    margin-top: 10px;
}

#phrase {
    display: none;
}

#graph {
    text-align: center;
}

#graph img {
    border: 0;
}

#options {
    text-align: left;
}

button {
    font-weight: bold;
    font-size: 0.9em;
    color: black;
    background-color: #fefefe;
    padding: 3px 10px;
    margin-right: 10px;
}

button:hover {
    color: #900;
    background-color: #fff;
    border: 1px solid #444;
}

textarea {
    width: 100%;
}

fieldset {
    color: black;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 10px 0;
}

#actions {
    font-size: 0.8em;
}

.readonly {
    border: 0;
    text-align: center;
    background-color: transparent;
}

h1 {
    background: #335 url("gradient.jpg") bottom left repeat-x;
    color: white;
    padding: 15px 10px 5px 10px;
    font-size: 1.1em;
    margin: 0px;
}

h2 {
    font-size: 1.1em;
    border-bottom: 1px solid silver;
    padding: 0 0 5px 0;
}

h3 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 5px 0 10px 0;
}

#intro {
    width: 49%;
    float: left;
    margin: 0;
    padding-right: 5px;
}

#news, #about, #usage {
    font-size: 0.8em;
}

#news {
    margin: 0;
    padding-left: 5px;
    width: 49%;
    float: right;
}

#tip {
    color: #555;
    text-align: center;
    font-style: italic;
}

textarea {
    padding: 2px;
}

textarea, button, select {
    border: 1px solid #ccc;
}

